<%-include partials/header.ejs %>
    <%-include partials/indexNavbar.ejs %>

        <div class="container">


            <div class="jumbotron bg-dark">
                <h1 class="display-4" style="font-size: 10vh;">Economy System</h1>
                <br>
                <p class="lead">Este é um simples sistema de recomendações de produtos elétricos de baixo consumo de
                    energia</p>
                <hr class="mt-4">
                <br>
                <p class="display-4" style="font-size: 3vh ; font-weight: bold;">Parte 1: Conhecendo seu consumo atual
                    faturado pela sua fornecedora de energia</p>

                <br>

                <form method="get" action="/player/profile">


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" name="nome" placeholder="Nome" required>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="cidade">Cidade:</label>
                            <input type="text" class="form-control" name="cidade" placeholder="Cidade" required>
                        </div>
                    </div>



                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nomeFornecedora">Nome da fornecedora de energia:</label>
                            <input type="text" class="form-control" name="nomeFornecedora"
                                placeholder="Nome fornecedora" required>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="tarifasAdicionais">Tarifas adcionais cobradas na fatura:</label>
                            <input type="text" class="form-control" name="tarifasAdicionais" placeholder="R$" required>
                        </div>
                    </div>



                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="quantidadeFaturada"> Consumo médio faturado (quantidade):</label>
                            <input type="text" class="form-control" name="quantidadeFaturada"
                                placeholder="Nome fornecedora" required>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="valordokwh">Valor pago por KWH:</label>
                            <input type="text" class="form-control" name="valordokwh" placeholder="R$ KWH" required>
                        </div>
                    </div>

                    <div>

                        <hr>

                        <p class="display-4" style="font-size: 3vh ; font-weight: bold;">Parte 2- Adicionando seus
                            Eletrodomésticos:</p>
                        <br>


                        <div id="createEletronicProductForm">
                           
                            <div class="form-row" id="campos1">

                               
                                <div 
                                class="form-group col-md-4">
                                    <label for="nome">Nome do modelo da Lâmpada:</label>
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome"
                                        required>
                                </div>


                                <div class="form-group col-md-4">
                                    <label for="horas">Por quantas horas ela fica ligada por dia:</label>
                                    <input type="text" class="form-control" id="horas" name="horas" placeholder="Horas"
                                        required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="potencia"> Potência da lampâda em watts:</label>
                                    <input type="text" class="form-control" id="potencia" name="potencia"
                                        placeholder="Potência em W" required>
                                </div>
                            </div>
                        </div>

                        <button id="add" class="btn btn-primary btn-sm ml-2">Adicionar lampâda</button>

                        <button id="delete" class="btn btn-primary btn-sm ml-2" onclick="deleteCampo">Remover
                            campo</button>

                    </div>
                    <button class="btn btn-primary btn-lg mt-2">Buscar economia</button>
                </form>


            </div>

            <hr>

            <div>
                <p class="display-4">Produtos adicionados recentemente</p>
            </div>

            <hr>

            <div class="row">
                <%articles.forEach(article=> { %>

                    <div class="card bg-dark pl-3 ml-5 mr-3">
                        <div class="card-header ">
                            <h2 class="pr-2">
                                <%= article.title %>
                            </h2>

                        </div>
                        <div class="card-body">
                            <p>
                                <%= article.preco %>
                            </p>


                            <a href="/<%= article.slug %> " class="btn btn-success">Ver Produto</a>

                        </div>
                    </div>

                    <br>

                    <% }) %>
                        <br>
            </div>
            <br>
            <div class="row">
                <div class="col col-12">
                    <a style="float:right" href="/articles/page/2">Next >>></a>
                    <br>
                    <hr>
                </div>
            </div>


            <script src="/js/addCampo.js"></script>

            <%-include partials/footer.ejs %>