<%-include partials/header.ejs %>
    <%-include partials/indexNavbar.ejs %>

        <div class="container">


            <div class="jumbotron bg-dark" >
                <h1 class="display-4" style="font-size: 10vh;">Economy System</h1>
                <br>
                <p class="lead">Este é um simples sistema de recomendações de produtos elétricos de baixo consumo de energia</p>
                <hr class="mt-4">
                <br>
                <p class="display-4" style="font-size: 3vh ; font-weight: bold;">Parte 1: Adicionar seus dados e os dados da últimas fatura de energia elétrica:</p>
                <br>

               

                <form method="get" action="/player/profile">


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" name="nome" placeholder="Nome" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="cidade">Estado:</label>
                            <input type="text" class="form-control" name="estado" placeholder="estado" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="cidade">Cidade:</label>
                            <input type="text" class="form-control" name="cidade" placeholder="Cidade" required>
                        </div>

                        
                    </div>

                    <p class="display-4 mt-4" style="font-size: 3vh ; font-weight: bold;">Dados da  Fatura mais atual:</p>
                



                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nomeDistribuidora">Nome da distribuidora de energia:</label>
                            <input type="text" class="form-control" name="nomeDistribuidora"
                                placeholder="Nome da distribuidora" required>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="tarifasAdicionais">Valor pago pelo KWH:</label>
                            <input type="text" class="form-control" name="valorKwh" placeholder="R$" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="quantidadeFaturada"> Consumo médio faturado (quantidade):</label>
                            <input type="text" class="form-control" name="quantidadeFaturada"
                                placeholder="Nome fornecedora" required>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="valordokwh">Taxas adicionais:</label>
                            <input type="text" class="form-control" name="taxas" placeholder=" Taxas adicionais" required>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="quantidadeFaturada"> Total a pgar:</label>
                            <input type="text" class="form-control" name="total_apagar_fatura_1"
                                placeholder="total a pagar" required>
                        </div>
                    </div>


                   

                      <!--___________________________________________ Dados dos eletrodmesticos___________________________________________________________________________ -->
                      <div>

                        <hr>

                        <p class="display-4 mt-4" style="font-size: 3vh ; font-weight: bold;">Parte 2- Adicionando seus
                            Eletrodomésticos:</p>
                        <br>


                        <div id="createEletronicProductForm">

                            <div class="form-row">


                                <div class="form-group col-md-4">
                                    <label for="nome">Nome do modelo da Lâmpada:</label>
                                    <input type="text" class="form-control" id="nome" name="nomeLampada_1" placeholder="Nome"
                                        required>
                                </div>


                                <div class="form-group col-md-4">
                                    <label for="horas">Por quantas horas ela fica ligada por dia:</label>
                                    <input type="text" class="form-control" id="horas" name="horasLampada_1" placeholder="soomento numeros inteiros"
                                        required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="potencia"> Potência da lampâda em watts:</label>
                                    <input type="text" class="form-control" id="potencia" name="potenciaLampada_1"
                                        placeholder="Potência em W" required>
                                </div>
                            </div>

                            

                        </div>

                        <button id="add" class="btn btn-primary btn-sm ml-2">Adicionar lampâda</button>

                        <button id="delete" class="btn btn-primary btn-sm ml-2">Remover
                            campo</button>

                        </div>
                        <button class="btn btn-primary btn-lg mt-2">Buscar economia</button>

                        </div>
                </form>


                <hr>

                <div>
                    <p class="display-4">Produtos adicionados recentemente</p>
                </div>
    
                <hr>
    
    
                <div class="row">
                    <%articles.forEach(article=> { %>
    
                        <div class="col-sm">
                            <div class="card bg-dark ml-2 mt-2">
                                <div class="card-header ">
                                    <h2 class="pr-2" style="font-size: 2vh ;">
                                        <%= article.title %>
                                    </h2>
        
                                </div>
                                <div class="card-body">
                                    <p>
                                        <div class="col">
                                            Valor: R$ <%= article.preco %>
                                        </div>
                                        <div class="col">
                                            Economia:  <%=article.economia%>
                                        </div>
                                        <div class="col">
                                            Marca: <%= article.marca%>
                                        </div>
                                     
                                     
                                      
                                    </p>
        
        
                                    <a href="/<%= article.slug %> " class="btn btn-success">Ver Produto</a>
        
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <br>
                </div>
                <br>
                <div class="row">
                    <div class="col col-12">
                        <a style="float:right" href="/articles/page/2">Next >>></a>
                        <br>
                        <hr>
                    </div>
                </div>
    
    
                <script src="/js/addCampo.js"></script>
                <script src="/js/removeCampo.js"></script>
                <%-include partials/footer.ejs %>

            </div>

          