<%- include ../../header.ejs%> 
<%- include ../../navbar.ejs%> 

<div class="container">
    <hr>
    <div class="card">
        <div class="card-title">

            <h3>Editar artigo</h3>
            
           
        </div>
    
        <div class="card-body">

            <form method="POST" action="/admin/articles/update">

                <input type="hidden" value="<%= article.id %>" name="id">
                <input  class="form-control"   type="text" class="form-control" name="title" placeholder="Defina o título do artigo"><br>

                <textarea class="form-control"  placeholder="escreve o artigo aqui" name="body" id="editorTexto"></textarea><br>

              
               

                <!-- Menu de seleção de categorias, para escolher qual o artigo se  enquadra -->
                <label>Categoria</label>
                
                <select name="category" class="form-control">
                    <% categories.forEach((category) => { %>
                        <% if(category.id == article.categoryId) { %> 
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% } else { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>   
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>

           

            
        </div>
    </div>

</div>
<br>

<div id="content" style="display: none;">
    <%- article.body %>
</div>

<%-include ../../footer.ejs%> 

<script src="/tinymce/tinymce.min.js"></script>

<script>

    tinymce.init({
        language: "pt_BR",
        selector: "#editorTexto",
        plugins: [
            'advlist autolink link image lists print preview hr searchplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () => {
            tinymce.activeEditor.setContent(document.getElementById('content').innerHTML);
        }
    });

</script>