<%- include ../../header.ejs%>
    <%- include ../../navbar.ejs%>


    <div class="container">
        
        <div class="jumbotron bg-dark mt-4">

            <h1 class="display-2 " style="font-size: 10vh;">Economy System</h1>
            <br>
            <p class="display-4" style="font-size: 5vh;">  Olá <u><i><b><%=nome%></b></i></u> esses são seus dados:</p>
            <br>
            
            <div class="row">
            
             <div class="col">
                <label for="" style="font-size: 3vh;">Cidade:   <input class="ml-2" type="text"  id="staticEmail" value="<%= cidade %> " disabled></label>
             </div>

             <div class="col">
                <label for="" style="font-size: 3vh;">Cidade:   <input class="ml-2" type="text"  id="staticEmail" value="<%= cidade %> " disabled></label>
             </div>

             <div class="w-100"></div>

             <div class="col">
                <label for="" style="font-size: 3vh;">Cidade:   <input class="ml-2" type="text"  id="staticEmail" value="<%= cidade %> " disabled></label>
             </div>

             <div class="col">
                <label for="" style="font-size: 3vh;">Cidade:   <input class="ml-2" type="text"  id="staticEmail" value="<%= cidade %> " disabled></label>
             </div>
           
        </div>
            
    </div>

        
        
        <hr>

        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome do produto</th>
                    <!-- <th style="display:none">Slug</th> -->
                    <!-- <th>Categoria</th> -->
                    <th>Preço</th>
                    <th>Potência</th>
                    <th>Nível de economia</th>
                    <th>Link</th>
                    <th>Ações</th>
                </tr>
            </thead>


            <tbody>

                <% articles.forEach(article=> { %>
                    <tr>
                        <td>
                            <%=article.id%>
                        </td>
                        <td>
                            <%=article.title %>
                        </td>
                       
                        
                        <td>
                            <%=article.preco%>
                        </td>
                        <td>
                            <%=article.potencia%>
                        </td>
                        <td>
                            <%=article.economia%>
                        </td>
                        

                        <td>
                            <a href="https://<%= article.link %>"><%= article.link %></a> 
                        </td>
                        <td>

                           
                            <a href="/admin/articles/edit/<%=article.id %>" class="btn-sm btn-warning" style="display: inline;">Editar</a>
                           
                            <form method="POST" action="/admin/articles/delete" 
                                onsubmit="confirmarDelecao(event,this)">

                                <input type="hidden" name="id" value="<%= article.id %> ">
                               

                                <button class="btn-sm btn-danger"> Deletar</button>
                                
                            </form>

                        </td>
                    </tr>

                    <% })%>


            </tbody>
        </table>

        
            <hr>

            <p>Gasto total: <%= total %>  </p>
        

    </div>

    <%-include ../../footer.ejs%>

        <script>


            function confirmarDelecao(event, form) {

                event.preventDefault();

                var decision = confirm("Você quer deletar esse artigo?");

                if (decision) {
                    console.log("dado apagado!");
                    form.submit();


                } else {
                    console.log("dado nao apagado!");
                }
            };

        </script>