<%- include ../../header.ejs%>
    <%- include ../../navbar.ejs%>


    <div class="container">
        
        <div class="jumbotron bg-dark mt-4">

            <h1 class="display-2 " style="font-size: 10vh;">Economy System</h1>
            <br>
            <p class="display-4" style="font-size: 5vh;">  <u><i><b><%=nome%></b></i></u> esses são seus dados:</p>
            <br>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" name="nome" value="<%= nome %>" disabled />
                </div>

                <div class="form-group col-md-3">
                    <label for="estado">Estado:</label>
                    <input type="text" class="form-control" name="estado"value="<%= estado %>" disabled />
                </div>

                <div class="form-group col-md-3">
                    <label for="cidade">Cidade:</label>
                    <input type="text" class="form-control" name="cidade" value="<%= cidade %>" disabled>
                </div>  
   </div>



<div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nomeDistribuidora">Nome da distribuidora de energia:</label>
                    <input type="text" class="form-control" name="nomeDistribuidora"
                       value="<%= nomeDistribuidora %> " disabled>
                </div>


                <div class="form-group col-md-6">
                    <label for="valorKwh">Valor pago pelo KWH:</label>
                    <input type="text" class="form-control" name="valorKwh" value="<%=valorKwh %> "  disabled>
                </div>
          </div>


<div class="form-row">
                <div class="form-group col-md-6">
                    <label for="quantidadeFaturada"> Consumo médio faturado (quantidade):</label>
                    <input type="text" class="form-control" name="quantidadeFaturada"
                       value="<%= quantidadeFaturada %> " disabled>
                </div>


                <div class="form-group col-md-6">
                    <label for="valordokwh">Taxas adicionais:</label>
                    <input type="text" class="form-control" name="taxas" value="<%= taxas %> " disabled>
                </div>
       </div>
            
    </div>

        
        
        <hr>

        <h1 class="display-2 mt-4" style="font-size: 5vh;">Produtos indicados com maior perfil de economia:</h1>
        <br>

        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <!-- <th style="display:none">Slug</th> -->
                    <th>Categoria</th>
                    <th>Preço</th>
                    <th>Potência</th>
                    <th>Nível de economia</th>
                    <th>Marca</th>
                    <th>Link</th>
                    <th>Ações</th>
                </tr>
            </thead>


            <tbody>

                <% articles.forEach(article=> { %>
                    <tr>
                        <td>
                            <%=article.id%>
                        </td>
                        <td>
                            <%=article.title %>
                        </td>
                       
                        <td>
                            <%=article.category.title%>
                        </td>
                        <td>
                            <%=article.preco%>
                        </td>
                        <td>
                            <%=article.potencia%>
                        </td>
                        <td>
                            <%=article.economia%>
                        </td>
                        <td>
                            <%=article.marca%>
                            positivo (Criar no banco)
                        </td>

                        <td>
                            <a href="https://<%= article.link %>"><%= article.link %></a> 
                        </td>
                        <td>

                           
                            <a href="/admin/articles/edit/<%=article.id %>" class="btn-sm btn-warning" style="display: inline;">Editar</a>
                           
                            <form method="POST" action="/admin/articles/delete" 
                                onsubmit="confirmarDelecao(event,this)">

                                <input type="hidden" name="id" value="<%= article.id %> ">
                               

                                <button class="btn-sm btn-danger"> Deletar</button>
                                
                            </form>

                        </td>
                    </tr>

                    <% })%>


            </tbody>
        </table>
        
        <hr>

        <h1 class="display-2 mt-4" style="font-size: 5vh;">Economia gerada de acordo com os novos produtos:</h1>
        
            


            <div class="jumbotron bg-dark mt-4">
                <p>Gasto total: <%= total %>  </p>
            </div>
           
        

    </div>

    <%-include ../../footer.ejs%>

        <script>


            function confirmarDelecao(event, form) {

                event.preventDefault();

                var decision = confirm("Você quer deletar esse artigo?");

                if (decision) {
                    console.log("dado apagado!");
                    form.submit();


                } else {
                    console.log("dado nao apagado!");
                }
            };

        </script>