<%- include ../../header.ejs%>
    <%- include ../../navbar.ejs%>


    <div class="container">
        
        <div class="jumbotron bg-dark mt-4">

            <h1 class="display-2 " style="font-size: 6vh;">Economy System</h1>
            
            <p class="display-4" style="font-size: 5vh;">  <u><i><b></b></i></u> Bem vindo, <%= nome %> </p>
            <br>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome:</label>
                    <input  type="text"  class="form-control" name="nome" value="<%= nome %> " disabled />
                </div>

                <div class="form-group col-md-3">
                    <label for="estado">Estado:</label>
                    <input type="text" class="form-control" name="estado"value="<%= estado %> " disabled />
                </div>

                <div class="form-group col-md-3">
                    <label for="cidade">Cidade:</label>
                    <input type="text" class="form-control" name="cidade" value="<%=cidade%>" disabled>
                </div>  
   </div>



<div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nomeDistribuidora">Nome da distribuidora de energia:</label>
                    <input type="text" class="form-control" name="nomeDistribuidora"
                       value=" <%= nomeDistribuidora %>  " disabled>
                </div>


                <div class="form-group col-md-6">
                    <label for="valorKwh">Valor pago pelo KWH:</label>
                    <input type="text" class="form-control" name="valorKwh" value="<%= valorKwh %>  "  disabled>
                </div>
          </div>


<div class="form-row">
                <div class="form-group col-md-6">
                    <label for="quantidadeFaturada"> Consumo médio faturado (quantidade):</label>
                    <input type="text" class="form-control" name="quantidadeFaturada"
                       value=" <%= quantidadeFaturada %> " disabled>
                </div>


                <div class="form-group col-md-6">
                    <label for="valordokwh">Total pago:</label>
                    <input type="text" class="form-control" name="taxas" value=" <%=float_replace_total_pago_fatura_1%>"  disabled>
                </div>
       </div>
            
    </div>
    <hr>
        <div>
            <h1 class="display-2 mt-4" style="font-size: 4vh;">Produto cadastrado pelo usuário que será utilizado como base para a comparação:</h1>
            <br>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="quantidadeFaturada"> Nome do modelo da Lâmpada:</label>
                    <input type="text" class="form-control" name="quantidadeFaturada"
                       value=" <%= nome_lampada_1 %> " disabled>
                </div>


                <div class="form-group col-md-4">
                    <label for="valordokwh">Por quantas horas ela fica ligada por dia:</label>
                    <input type="text" class="form-control" name="taxas" value=" <%=horas_lampada_1%>"  disabled>
                </div>

                <div class="form-group col-md-4">
                    <label for="valordokwh">Potência da lampâda em watts:</label>
                    <input type="text" class="form-control" name="taxas" value=" <%=potencia_lampada_1%>"  disabled>
                </div>
       </div>

       
<div class="form-row">
    <div class="form-group col-md-6">
        <br>
        <label style="font-size:3vh ;" for="quantidadeFaturada"> Potência da lâmpada do usuário em Wh:</label>
        
        <input style="height: 6vh ;"  type="text" class="form-control" name="quantidadeFaturada"
           value=" <%=        potenciaTotalLampadaUsuario,
           %> " disabled>
          
    </div>

    <div class="form-group col-md-6">
        
        <br>
        <label style="font-size:3vh ;" for="quantidadeFaturada"> Gasto  da sua lampada em reais por 30 dias:</label>
        
        <input style="height: 6vh ;"  type="text" class="form-control" name="quantidadeFaturada"
           value=" R$ <%= KWH_potenciaTotalLampadaUsuario %> " disabled>
    </div>
</div>
        </div>
        <br>
        <hr>

        <h1 class="display-2 mt-4" style="font-size: 5vh;">Produtos indicados com maior perfil de economia:</h1>
        <br>

        <table class="table table-bordered">

            <thead>
                 <tr>
                    <!-- <th>Id</th> -->
                    <th>Nome</th>  
                    <!-- <th style="display:none">Slug</th> -->
                    <!-- <th>Categoria</th> -->
                    <!-- <th>Preço</th>  -->
                    <th>Potência em Wh</th>
                     <th>Nível de economia em consumo de potência</th>
                    <th>Gasto da lâmpada em reais durante 30 dias</th>
                     <th>Valor economizado durante 30 dias</th>
                     <th>Etiqeuta nacional(Encie)</th> 
                     <th>Link</th> 
                    
                </tr>
            </thead>


            <tbody>

                <% articles.forEach(article=> { %>
                    <tr>
                       
                        <td>

                           <%= article.title%>

                        </td>
                        <td>
                            <%=article.potencia%>
                        </td>
                        
                        <td>
                            
                            <%=article.nivelDeEconomia%> %
                        </td>

                        <td>
                           R$ <%=article.valorEconomizadoReais%>

                        </td>

                        <td>
                            R$ <%= article.economiaFinal %> 
                        </td>
                        <td>
                             <%= article.economia %> 
                        </td>

                       <td>
                        <a href="http://<%=article.link%>"><%=article.link%></a> 
                       </td>
                    </tr>

                    <% })%>


            </tbody>
        </table>
<!--         
        <hr>

        <h1 class="display-2 mt-4" style="font-size: 5vh;">Economia gerada de acordo com os novos produtos:</h1>
        
            


            <div class="jumbotron bg-dark mt-4">
                
                <p> valor da economia:  </p>
            </div> -->
           
        

    </div>

    <%-include ../../footer.ejs%>

        <script>


            function confirmarDelecao(event, form) {

                event.preventDefault();

                var decision = confirm("Você quer deletar realmente esse produto?");

                if (decision) {
                    console.log("dado apagado!");
                    form.submit();


                } else {
                    console.log("dado nao apagado!");
                }
            };

        </script>