<%- include ../../header.ejs%> 
<%- include ../../navbar.ejs%> 

<div class="container">
    <hr>
    <div class="card">
        <div class="card-title">
            <h2>Edição de categoria</h2>

        </div>
    
        <div class="card-body">

            <form method="POST" action="/admin/categories/update">
                <input type="text" class="form-control" name="title" placeholder="Define o novo título da categoria:" value="<%= category.title %> "><br>

                <input type="hidden" name="id" value="<%= category.id%> ">
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>

</div>
<br>

<%-include ../../footer.ejs%> 