<%- include ../../header.ejs%>
    <%- include ../../navbar.ejs%>


        <div class="container">
            <hr>

            <h2> Index categories</h2>
            <br>
            <a href="/admin/categories/new" class="btn btn-success">  Criar nova categoria </a>
            
            <hr>

            <table class="table table-bordered">
                
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                
                <tbody>

                    <% categories.forEach(category => { %>
                        
                    
                    <tr>
                        <th><%= category.id %> </th>
                        <th><%= category.title %></th>
                        <th><%= category.slug%></th>
                        <th>

                             
                           <a href="/admin/categories/edit/<%=category.id %>" class="btn btn-warning">Editar</a>

                        <form method="POST" action="/admin/categories/delete" style="display:inline" onsubmit="confirmarDelecao(event,this)">

                            <input type="hidden" name="id" value="<%= category.id %> ">
                            <button class="btn btn-danger"> Deletar</button>
                        </form>

                        </th>
                    </tr>

             <%   }); %>
                </tbody>
            </table>

        </div>

        <%-include ../../footer.ejs%>

<script>


    function confirmarDelecao(event,form){

        event.preventDefault();
        
        var decision = confirm("Você quer deletar essa categoria?");

        if(decision){
            console.log("dado apagado!");
            form.submit();

            
        }else{
            console.log("dado nao apagado!");
        }
    };

</script>